@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@800&family=Limelight&family=Prata&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Rufina:wght@700&display=swap'); */

.h1 {
  margin: auto;
  margin-top: 30vh;
  opacity: 0;
  font-size: 6rem;
  color: #fff;
  font-family: "Bodoni Moda", serif;
  animation: textFade ease-in-out 6s;
}

.container {
  position: absolute;
  display: flex;
  justify-content: space-around;
  background-color: #FFFFFF00;
  height: 100vh;
  width: 100%;
  z-index: 20;
  animation: fade ease-in-out 5s;
  pointer-events: none;
}

@keyframes fade{
  0% {background-color: #222}
  80% {background-color: #aaa}
  80% {background-color: #ffffff4D}
}
@keyframes textFade{
  
  0% {opacity: 1; }
  80% {opacity: 1;}
  100% {opacity: 0}
}
