html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#prevBtn {
  position: absolute !important;
  left: 10px !important;
  top: 40vh;
}

#nextBtn { 
  position: absolute !important;
  right: 10px !important;
  top: 40vh;
}
