
.rightButton {
  top: 50px;
  right: 10px;
  top: 50vh;
}


.leftButton {
position: absolute;
  left: 10px;
  top: 50vh;
}

.openseadragon {
  z-index: -1;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 100vh;
}

.hideNav {
  display: none;
}

.showNav {
  
}

